.Baby {
  width: 1600px;
  height: 300px;
  justify-content: center;
}
.BabyBalloon {
  width: 1500px;
  height: 270px;
  position: absolute;
  margin: 0px;
  top: 40px;
  right: -130px;
  z-index: 1px;
  object-fit: contain;
}
.Title {
  margin: 0px;
  position: absolute;
  width: 400px;
  color: #767676;
  font-family:'Nunito', sans-serif;
  font-weight:650;
  font-size: 38px;
  line-height: 40px;
  right:710px;
  top: 80px;
}
.TitleP {
  Color: #767676;
  font-size: 15px;
  width: 340px;
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  top: 170px;
}
.Button1 {
  position: relative;
  background-color: white;
  border-radius:4px;
  color: #767676;
  border-width: 2px;
  border-color: #2cc0fada;
  border-style: solid;
  padding: 3px 10px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  width:100px;
  top: 200px;
  right: -230px;
}

.Button2 {
  position: relative;
  border-radius:4px;
  background-color:#f634b5;
  border: none;
  font-family: 'Nunito', sans-serif;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  top: 200px;
  right: -280px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ;
}

.TsnCs {
  color: #767676;
  font-size: 6.5px;
  position: absolute;
  width: 90px;
  font-family: 'Nunito', sans-serif;
  top: 280px;
  left: 405px;
  width: 100px;
}